body{
    background-color: white;
}

.p1{
    background-color: rgb(0, 159, 183);
}

.p2{
    background-color: rgb(254, 74, 73);
}


.row{
    margin: 32px 0px 0px 32px; 
}

.text {
    font-size: 24px;
    width: 100%;
    font-family: 'Lato';
    justify-content: center;
    align-content: center;
}

.option-text{
    font-size: 40px;
    font-weight: bold;
}

#exit-text{
    font-size: 12px;
}

#main-container{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#header-primary-text{
    font-size: 48px;
}

.answer-box{
    background-color: rgb(230, 230, 234);
    border-radius: 8px;
    width: 480px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0 auto;
}

.vote-container{
    margin: 24px 0px 0px 0px;
    height: 0px;
    display: flex;
    justify-content: space-around;
}

.vote-marker{

    opacity: 0.0;
    font-size: 42px;
    flex-wrap: wrap;
    height: 84px;
    width: 84px;
    border-radius: 42px;
    display: flex;

}


.twod{
    width: 192px; 
    height: 108px; 
    border-radius: 8px;
    margin: 0 auto;
}
